/* custom font */
@font-face {
  font-family: syneTactile;
  src:  url('../fonts/SyneTactile-Regular.woff2') format('woff2');
}

@font-face {
  font-family: syne;
  src:  url('../fonts/Syne-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: junicode;
  src:  url('../fonts/junicode-regularcondensed-webfont.woff2') format('woff2');
}

/* variables */
:root {
  --padding: 1.5rem;
  --main-font-size: 1.2rem;
  --color-grey: #333;
  --color-light: #fff;
  --color-text: var(--color-grey);
  --color-background: var(--color-light);
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* --font-custom: "le-murmure", serif; */
}

/* * {
  margin: 0;
  padding: 0;
} */

html {
  max-width: 70%;
  padding: var(--padding);
  margin: auto;
  color: var(--color-text);
  font-size: var(--main-font-size);
}

body {
  font-family: var(--font-family-sans);
  font-size: 115%;
  background-color: var(--color-background);
}


figure {
  padding: 4rem;
}

figcaption {
  margin-top: 10px;
  font-size: 0.6em;
}

img {
  width: 100%;
}

h1 {
  font-family: "syneTactile";
  font-size: 8rem;
  line-height: 0.5;
  margin: 0 0 80px 0;
  color: var(--color-grey);
  -webkit-text-fill-color: white; 
  -webkit-text-stroke: 2px var(--color-grey);
  text-align: center;
  font-weight: 400;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "junicode";
  font-weight: 400;
  margin: 0 0 50px 0;
}

.content {
  margin: 50px 0 100px 0;
}

.content h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 0.8;
  font-family: "junicode";
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;
}

.content h2 {
  font-family: "syne";
  font-size: 1.8rem;
  line-height: 1;
  margin: 0 0 20px 0;
  text-align: center;
  font-weight: 400;
}

.content h3 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "junicode";
  font-weight: 400;
}

.content h4 {
  font-family: "syneTactile";
  font-size: 3rem;
  line-height: 0.8;
  margin: 40px 0 20px 0;
  color: var(--color-grey);
  text-align: center;
  font-weight: 400;
}

.content p {
  font-family: "junicode";
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin: 0 0 20px 0;
}

.content p span {
  font-family: "syneTactile";
  font-size: 1.6rem;
}

@media only screen and (min-width:1px) and (max-width: 720px) {

  html {
    max-width: 100%;
    padding: 20px;
    font-size: 1rem;
  }


  figure {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 5rem;
    margin: 0 0 20px 0;
  }

  .content {
    margin: 0 0 50px 0;
  }

  .content h1 {
    font-size: 1.3rem;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .content h3 {
    margin: 0 0 20px 0;
  }

  .content h4 {
    font-size: 2rem;
    margin: 0 0 20px 0;
  }

}
